/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │     LT3 LT2 LT1     │ │     RT1 RT2 RT3     │
  │ LM4 LM3 LM2 LM1     │ │     RM1 RM2 RM3 RM4 │
  │                     │ │                     │
  ╰───────╮     LH1 LH0 │ │ RH0 RH1     ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* Vertical combos - left hand */
ZMK_COMBO(bgrl,  &bigram_rl,   LT3 LM3, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bghn,  &bigram_hn,   LT2 LM2, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgdt,  &bigram_dt,   LT1 LM1, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bglr,  &bigram_lr,   LT3 LM3, A2,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgnb,  &bigram_nb,   LT2 LM2, A2,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgmt,  &bigram_mt,   LT1 LM1, A2,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(cut,   &kp N7,       LT3 LM3, NUMNAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgrl,  &kp N8,       LT2 LM2, NUMNAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy,  &kp N9,       LT1 LM1, NUMNAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lbrc,  &kp LBRC,     LT3 LM3, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lbkt,  &kp LBKT,     LT2 LM2, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lpar,  &kp LPAR,     LT1 LM1, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Vertical combos - right hand */
ZMK_COMBO(bgui, &bigram_ui,   RT3 RM3, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgeo, &bigram_eo,   RT2 RM2, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgcy, &bigram_cy,   RT1 RM1, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgiu, &bigram_iu,   RT3 RM3, A2,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgoe, &bigram_oe,   RT2 RM2, A2,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bggy, &bigram_gy,   RT1 RM1, A2,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(cut,  &kp LC(INS),  RT3 RM3, NUMNAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bgrl, &kp LC(X),    RT2 RM2, NUMNAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy, &kp LS(INS),  RT1 RM1, NUMNAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc, &kp RBRC,     RT3 RM3, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbkt, &kp RBKT,     RT2 RM2, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar, &kp RPAR,     RT1 RM1, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Diagonal combos - left hand */
ZMK_COMBO(fslh, &kp FSLH,     LT3 LM2, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lt, &kp LT,         LT3 LM2, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Diagonal combos - right hand */
ZMK_COMBO(bslh, &kp BSLH,     RT3 RM2, A1,     COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(gt, &kp GT,       RT3 RM2, SYM,    COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - left hand */
ZMK_COMBO(esc,   &kp ESC,      LT3 LT2,     A1 A2 NUMNAV SYM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(tab,   &kp TAB,      LT2 LT1,     A1 A2 NUMNAV SYM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lss,   &sk LSHFT,     LM3 LM2,     A1 A2 NUMNAV SYM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods. Custom hold-tap instances can be bootstrapped on the go using the
// 8-argument version of ZMK_COMBO defined in base.keymap.

